{% extends "base.html" %}

{% block title %}Sean's Blog - Home{% endblock %}

{% block content %}
<form action="/search" method="get" class="search-form">
    <input
        type="search"
        name="q"
        placeholder="Search posts..."
        class="search-input"
    >
    <button type="submit" class="search-button">Search</button>
</form>

<h2>Posts</h2>
<ul class="post-list">
    {% for post in posts %}
    <li>
        <a href="/post/{{ post.slug }}">{{ post.title }}</a>
        <span class="date">{{ post.date }}</span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
