{% extends "base.html" %}

{% block title %}/dev/blog - Home{% endblock %}

{% block content %}
<h2>Posts</h2>
<ul class="post-list">
    {% for post in posts %}
    <li>
        <a href="/post/{{ post.slug }}">{{ post.title }}</a>
        <span class="date">
            Published: {{ post.date }}{% if post.updated != "" %}<span class="date-updated"><span class="date-separator"> • </span>Updated: {{ post.updated }}</span>{% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
